# .gitignore
.venv
.vscode
pyproject.toml

tests/*
!tests/.gitkeep 
!tests/client_test.py
!tests/encryption_test.py
!tests/focus_test.py
!tests/logs

tests/logs/*
!tests/logs/.gitkeep

server/logs/*
!server/logs/.gitkeep

server/database/*
!server/database/.gitkeep