# .gitignore
.venv
.vscode

tests/*
!tests/.gitkeep 
!tests/client_test.py
!tests/encryption_test.py
!tests/focus_test.py

logs/*
!logs/.gitkeep

server/logs/*
!server/logs/.gitkeep

server/database/*
!server/database/.gitkeep